body{
    background-color: gray;
}

.gallery{
    margin-left: 5%;
    margin-right: 5%;
}
.bloc{
    margin: 5px;
    margin-block: auto;

}

.verticale{
    max-height: 70%;
    max-width: 40%;
}
.horizontale{
    max-height: 80%;
    max-width: 80%;
}
.galleryh1{
    margin-left: 38.5%;
}
