body {
    background-color: gray;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Ajoute un espace constant entre les blocs */
    justify-content: center; /* Centre la galerie horizontalement */
}

.blocv {
    box-sizing: border-box;
    border: 3px solid;
    border-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    max-height: 450px;
    width: 100%;
    flex: 1 1 300px;
}

.bloch {
    box-sizing: border-box;
    border: 3px solid;
    border-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    max-height: 450px;
    width: 100%;
    flex: 2 1 600px;
}

.blocv img, .bloch img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
